---
import client2 from '../assets/client-2.jpeg';
import client3 from '../assets/client-3.jpeg';
import client4 from '../assets/client-4.jpeg';
import impression1 from '../assets/impression-1.jpeg';
import impression2 from '../assets/impression-2.jpeg';
import impression3 from '../assets/impression-3.jpeg';
import impression4 from '../assets/impression-4.jpeg';
import impression5 from '../assets/impression-5.jpeg';
import impression6 from '../assets/impression-6.jpeg';
import { Image } from 'astro:assets';
---
<!-- Impressions Section -->
<section id="impressions" class="py-20 bg-gray-50">
   <div class="container mx-auto px-6 relative">
      <h2 class="text-3xl font-serif text-center mb-16 tracking-wider">Impressionen</h2>
      <div class="h-[70vmin] lg:h-[45vmin]"></div>
      <div id="image-track" class="image-track flex flex-row" data-mouse-down-at="0" data-prev-percentage="0">
         <div class="gallery-item rounded-lg overflow-hidden">
            <Image src={impression1} 
               alt="Mega Volume Lashes" 
               draggable="false"
               class="w-full h-80 object-cover gallery-Image">
         </div>
         <div class="gallery-item rounded-lg overflow-hidden">
            <Image src={impression2} 
               alt="Mega Volume Lashes" 
               draggable="false"
               class="w-full h-80 object-cover gallery-Image">
         </div>
         <div class="gallery-item rounded-lg overflow-hidden">
            <Image src={client3} 
               alt="Mega Volume Lashes" 
               draggable="false"
               class="w-full h-80 object-cover gallery-Image">
         </div>
         <div class="gallery-item rounded-lg overflow-hidden">
            <Image src={client2} 
               alt="Mega Volume Lashes" 
               draggable="false"
               class="w-full h-80 object-cover gallery-Image">
         </div>
         <div class="gallery-item rounded-lg overflow-hidden">
            <Image src={impression5} 
               alt="Mega Volume Lashes" 
               draggable="false"
               class="w-full h-80 object-cover gallery-Image">
         </div>
         <div class="gallery-item rounded-lg overflow-hidden">
            <Image src={impression3} 
               alt="Mega Volume Lashes" 
               draggable="false"
               class="w-full h-80 object-cover gallery-Image">
         </div>
         <div class="gallery-item rounded-lg overflow-hidden">
           <Image src={client4} 
               alt="Mega Volume Lashes" 
               draggable="false"
               class="w-full h-80 object-cover gallery-Image">
         </div>
         <div class="gallery-item rounded-lg overflow-hidden">
            <Image src={impression4} 
               alt="Mega Volume Lashes" 
               draggable="false"
               class="w-full h-80 object-cover gallery-Image">
         </div>
         <div class="gallery-item rounded-lg overflow-hidden">
            <Image src={impression6} 
               alt="Mega Volume Lashes" 
               draggable="false"
               class="w-full h-80 object-cover gallery-Image">
         </div>
      </div>
      <div class="text-center mt-12">
         <a href="https://www.instagram.com/thelashquartier/" class="inline-block px-8 py-3 border border-gray-800 text-gray-800 hover:bg-gray-800 hover:text-white transition duration-300" target="_blank" noopener noreferrer>Und noch mehr</a>
      </div>
   </div>
</section>